:root {
    --color-white        : #ffffff;
    --color-black        : #000;
    --color-green-0     : #0f8d9b;
    --color-greey-0: #f2f2f2d1;
   
}

// Backdrop pseudo-element doesn´t inherit css variables
::backdrop {
    --color-backdrop: rgba(0, 0, 0, .7);
}