.top-header {
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-green-0);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  color: white;



    .left-section,
    .right-section {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .left-section {
        a {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            text-decoration: none;

            &:hover {
                transform: scale(1.3);
            }
        }
    }

    /* Íconos redes sociales */
    .icon-facebook {
        background-image: url('/assets/svg/facebook-icon.svg');
    }

    .icon-instagram {
        background-image: url('/assets/svg/instagram-icon.svg');
    }

    .icon-tiktok {
        background-image: url('/assets/svg/tiktok-icon.svg');
    }

    .contact-item {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 14px;

        span:first-child {
            display: inline-block;
            width: 18px;
            height: 18px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .email-link {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                transform: none;
            }
        }
    }

    /* Iconos contacto */
    .icon-phone {
        background-image: url('/assets/svg/phone-icon.svg');
    }

    .icon-email {
        background-image: url('/assets/svg/mail-icon.svg');
    }
}