<header class="top-header">
    <div class="left-section">
        <a href="https://facebook.com" target="_blank" aria-label="Facebook" class="icon-facebook"></a>
        <a href="https://instagram.com" target="_blank" aria-label="Instagram" class="icon-instagram"></a>
        <a href="https://twitter.com" target="_blank" aria-label="Twitter" class="icon-tiktok"></a>
    </div>

    <div class="right-section">
        <div class="contact-item">
            <span class="icon-phone"></span>
            <span>+506 6264 5054</span>
        </div>
        <div class="contact-item">
            <span class="icon-email"></span>
            <a href="mailto:ticogoinfo@gmail.com" class="email-link">ticogoinfo@gmail.com</a>
        </div>
    </div>
</header>