<div class="services-section">

    <div class="service-card">
        <img src="assets/icons/van.png" alt="Transporte" />
        <h3>Paquetes Turisticos</h3>
        <p>Ofrecemos traslados confiables</p>
    </div>
    <div class="service-card">
        <img src="assets/icons/van.png" alt="Transporte" />
        <h3>Transporte</h3>
        <p>Ofrecemos traslados confiables</p>
    </div>

    <div class="service-card">
        <img src="assets/icons/car.png" alt="Rent a Car" />
        <h3>Rent a Car</h3>
        <p>Accede a alquiler de autos</p>
    </div>

    <div class="service-card">
        <img src="assets/icons/hotel.png" alt="Hoteles" />
        <h3>Hoteles</h3>
        <p>Encuentra alojamiento ideal</p>
    </div>

    <div class="service-card">
        <img src="assets/icons/restaurant.png" alt="Restaurantes" />
        <h3>Restaurantes</h3>
        <p>Descubre los mejores lugares</p>
    </div>
</div>